@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

:root {
  --primary-color: #05be58;
  --primary-color-darker: #087238;
  --secondary-color: #8357e5;
  --secondary-color-darker: #6a6180;
  --bg-color: #2f3437;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  border: none;
  outline: none;
  list-style-type: none;
  text-decoration: none;
}

body,
input,
button,
textarea {
  font-family: "Poppins", "monospace";
}

html {
  font-size: 62.5%;
}

html,
body {
  min-height: 100vh;
}

body {
  background-color: #fefefe;
  font-size: 1.6rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.warning-message {
  color: #ff4655;

  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.4rem;

  text-align: center;
}

/* HEADER */

header {
  background-image: url(./assets/header.svg);
  background-repeat: no-repeat;
  background-size: contain;

  padding-bottom: 96px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-family: "Bangers", cursive;

  color: var(--secondary-color);
  font-size: 4.2rem;
  line-height: 5.2rem;

  text-align: center;

  margin-top: 48px;
}

/* FORM */

form {
  display: flex;
  align-items: center;

  margin-top: 48px;
}

form input[type="text"] {
  min-width: 320px;
  padding: 16px 32px;
  border-radius: 8px 0 0 8px;

  font-size: 1.4rem;
  line-height: 2.4rem;
}

form input::placeholder {
  color: var(--secondary-color-darker);
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.2px;
}

form button {
  padding: 16px 32px;

  background-color: var(--secondary-color-darker);
  border-radius: 0 8px 8px 0;

  color: #fff;

  font-size: 1.4rem;
  line-height: 2.4rem;

  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2px;

  transition: 0.2s;
}

form button:hover {
  background-color: #595368;
}

form input,
form button {
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.6);
}

/* SONGS CONTAINER */

.songs-container {
  width: 50%;
  margin: 0 auto;

  margin-top: 48px;
}

.songs-container .song {
  margin-top: 6px;
}

.songs-container .song-artist {
  color: var(--bg-color);
}

.songs-container .song-artist strong {
  color: var(--bg-color);

  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.songs-container .btn {
  background-color: var(--secondary-color-darker);
  padding: 4px 8px;
  border-radius: 8px;

  color: #fff;

  font-size: 1.4rem;
  line-height: 2.4rem;

  margin-left: 12px;

  transition: 0.2s;
}

.songs-container .btn:hover {
  transform: translateY(-2px);
}

/* LYRICS CONTAINER */

.lyrics-container {
  background-color: var(--bg-color);
  border-radius: 24px;

  padding: 32px;
}

.lyrics-container h2 {
  margin-bottom: 16px;
}

.lyrics-container h2 {
  color: var(--primary-color);
}

.lyrics-container .lyrics {
  color: #fff;
}

/* PREV AND NEXT */

.prev-and-next-container {
  width: 88px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 32px auto;
}

.prev-and-next-container .btn {
  background-color: var(--secondary-color);
  border-radius: 16px;
  padding: 8px;

  color: #fff;
  font-size: 25%;

  transition: 0.2s;
}

.prev-and-next-container .btn:hover {
  background-color: var(--secondary-color-darker);
}
