@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
  --primary-color: #04D361;
  --primary-color-darker: #09aa52;
  --secondary-color: #8357E5;
  --secondary-color-darker: #6A6180;
  --bg-color: #2F3437;
}

* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;

  border: none;
  outline: none;
  list-style-type: none;
  text-decoration: none;
}

body,
input,
button,
textarea {
  font-family: 'Poppins', 'monospace';
}

html, body {
  min-height: 100vh;
}

body {
  background-color: #efefef;
}

.container {
  margin: 0 auto;
}

.warning-message {
  color: #FF4655;
  
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  
  text-align: center;
}

/* HEADER */

header {
  background-image: url(./assets/header.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 16px;
  background-position-x: 10%;

  padding-bottom: 96px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-family: 'Bangers', cursive;
  
  color: var(--secondary-color);
  font-size: 42px;
  line-height: 52px;

  text-align: center;
  letter-spacing: .8px;

  margin-top: 8vh;
}

/* FORM */

form {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 48px;
}

form input[type="text"] {
  min-width: 320px;
  padding: 16px 32px;
  border-radius: 8px 0 0 8px;

  font-size: 16px;
  line-height: 26px;
}

form input::placeholder {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .3px;
  color: var(--secondary-color-darker);
}

form button {
  padding: 16px 32px;
  
  background-color: var(--secondary-color-darker);
  border-radius: 0 8px 8px 0;

  display: flex;
  align-items: center;

  color: #eee;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;

  transition: 0.2s;
}

form button:hover {
  background-color: var(--primary-color);
}

form button span {
  margin-left: 4px;
}

form input,
form button {
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.6);
}

/* SONGS CONTAINER */

.songs-container {
  border-radius: 24px;
  padding: 48px;
  
  width: 60%;
  margin: 0 auto;

  margin-top: 64px;
}

.songs-container .song {
  margin-top: 8px;
}

.songs-container .song-artist {
  color: var(--bg-color);
}

.songs-container .song-artist strong {
  color: var(--primary-color-darker);
}

.songs-container .btn {
  background-color: var(--primary-color);
  padding: 4px 8px;
  border-radius: 8px;

  color: #eee;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: .8px;

  margin-left: 24px;

  transition: 0.2s;
}

.songs-container .btn:hover {
  transform: scale(1.1);
}

/* LYRICS CONTAINER */

.lyrics-container {
  background-color: var(--bg-color);
  border-radius: 24px;
  
  padding: 48px;
}

.lyrics-container h2 {
  margin-bottom: 16px;
}

.lyrics-container h2 {
  color: var(--primary-color-darker);
}

.lyrics-container .lyrics {
  color: #efefef;
}

/* PREV AND NEXT */

.prev-and-next-container {
  width: 88px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 32px auto;
}

.prev-and-next-container .btn {
  background-color: var(--secondary-color);
  border-radius: 16px;
  padding: 8px;

  color: #eee;
  font-size: 25%;

  transition: 0.2s;
}

.prev-and-next-container .btn:hover {
 background-color: var(--primary-color); 
}